---
# Setup a Docker node

- name: docker | setup repository
  become: yes
  template:
    src: docker-repo.j2
    dest: /etc/yum.repos.d/docker.repo
    backup: no

- name: docker | install docker
  become: yes
  yum:
    pkg: docker-engine
    state: present

- name: docker | setup lvm docker-pool
  become: yes
  lvol:
    vg: "{{ docker_vgname }}"
    lv: docker-pool
    size: "{{ docker_poolsize }}"
    opts: "{{ docker_lvopts | default(None) }} --thin --poolmetadatasize {{ docker_metadatasize }}"
  when: docker_use_custom_storage

- name: docker | configuration directory
  become: yes
  file:
    path: /etc/docker
    state: directory

# https://docs.docker.com/engine/reference/commandline/dockerd/#linux-configuration-file
- name: docker | configure docker options
  become: yes
  template:
    src: etc-docker-daemon-json.j2
    dest: /etc/docker/daemon.json
    backup: yes
  notify:
    - restart docker

- name: docker | enable
  become: yes
  service:
    name: docker
    state: started
    enabled: yes

- name: docker | group members
  become: yes
  user:
    name: "{{ item }}"
    groups: docker
    append: yes
  with_items: "{{ docker_groupmembers }}"
